header {
  font-family: 'Voltaire', sans-serif;
  font-size: 4.5em;
  min-height: 100vh;
  margin-left: 20px;

  h1, h2 {
    font-weight: 500;
    text-shadow: #484848 1px 1px;
    color: white;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.5em;
    text-shadow: #484848 1px 1px;
    color: white;
  }
}

#tagline h1 {
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5em;
}

$logo-border-color: #222;

div.rails-camp {
  margin-top: 20px;
  display: inline-block;
  white-space: nowrap;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: #484848 1px 1px;
  color: white;
}

div.sydney-2015 {
  margin-top: 20px;
  margin-left: 10px;
  color: red;

  display: inline-block;
  white-space: nowrap;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: #484848 1px 1px;
  text-align: left;
}

header h1 {
  margin-top: 0;
}

header p {
  text-shadow: #484848 1px 1px;
  color: white;
  font-weight: 500;
}

html, body {
  margin: 0;
}

body {
  /* Slightly darken the background image.
   * Unfortunately it looks shit on an iphone because the darkening is of the entire body background
   * not just the image.
   */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/alt-background.jpg') no-repeat center top fixed;
  background-size: cover;
}

section {
  width: 50%;
  margin: auto;
}

.container {
  width: 100%;
  background: #fefefe;
  padding: 20px 0;
  margin: 0 !important;
}

footer {
  margin: 0;
  background-color: #E74141;
  min-height: 200px;
}

/*

@media only screen and (max-device-width: 500px) {
  header {
    width: 90%;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  header {
    width: 100%;
    font-weight: bold;
  }
  body {
    background-size: 100% auto;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  header {
    width: 90%;
    font-size: 4.8em;
    font-weight: bold;
    p {
      text-shadow: #484848 3px 3px;
    }
  }
  body {
    background-size: auto 100vh;
  }
}
*/
