header {
  font-family: 'Amatic SC', cursive;
  font-size: 28pt;
  margin: auto;
  width: 50%;
  text-align: center;
  height: 100vh;

  h1, h2 {
    font-weight: bold;
    text-shadow: #484848 2px 2px;
    color: white;
  }
}

header h1 {
  margin-top: 0;
}

header p {
  text-shadow: #484848 1px 1px;
  color: white;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

html, body {
  margin: 0;
}

body {
  background: url('/images/background.jpg') no-repeat center top fixed;
  background-size: cover;
  background-position-y: -300px;
}

section {
  width: 50%;
  margin: auto;
}

.container {
  width: 100%;
  background: white;
  padding-top: 20px;
  box-shadow: inset 0px 5px 5px #DDD;
}

