header {
  font-family: 'Voltaire', sans-serif;
  font-size: 4.5em;
  min-height: 100vh;
  margin-left: 20px;

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.5em;
    text-shadow: #484848 1px 1px;
    color: white;
  }
}

.logo {
  margin-top: 20px;
  display: inline-block;
  font-weight: 500;
  font-size: 1.5em;
  text-shadow: #484848 1px 1px;
  font-family: 'Voltaire', sans-serif;
  white-space: nowrap;
}

.rails-camp {
  padding-right: 20px;
  color: white;
  border-right: solid 10px #181818;
}

.sydney-2015 {
  margin-left: 10px;
  color: red;
  text-align: left;
}

header h1 {
  margin-top: 0;
}

header p {
  text-shadow: #484848 1px 1px;
  color: white;
  font-weight: 500;
}

html, body {
  margin: 0;
}

body {
  /* Slightly darken the background image.
   * Unfortunately it looks shit on an iphone because the darkening is of the entire body background
   * not just the image.
   */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/jetty-and-rope.jpeg') no-repeat center top fixed;
  background-size: cover;
}

section {
  width: 50%;
  margin: auto;
}

.container {
  width: 100%;
  background: #fefefe;
  padding: 20px 0;
  margin: 0 !important;
}

footer {
  margin: 0;
  min-height: 100vh;
  background: url('/images/beach-1.jpeg') no-repeat center top fixed;
  background-size: cover;
}

.gallery {
  margin: 0;
  min-height: 960px;
  &.img-1 {
    background: url('/images/gallery-1.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-2 {
    background: url('/images/gallery-2.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-3 {
    background: url('/images/gallery-3.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-4 {
    background: url('/images/gallery-4.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-6 {
    background: url('/images/gallery-6.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-7 {
    background: url('/images/gallery-7.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-8 {
    background: url('/images/gallery-8.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-9 {
    background: url('/images/gallery-9.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-10 {
    background: url('/images/gallery-10.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-11 {
    background: url('/images/gallery-11.jpeg') no-repeat center top;
    background-size: cover;
  }
  &.img-12 {
    background: url('/images/gallery-12.jpeg') no-repeat center top;
    background-size: cover;
  }
}



/*

@media only screen and (max-device-width: 500px) {
  header {
    width: 90%;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  header {
    width: 100%;
    font-weight: bold;
  }
  body {
    background-size: 100% auto;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  header {
    width: 90%;
    font-size: 4.8em;
    font-weight: bold;
    p {
      text-shadow: #484848 3px 3px;
    }
  }
  body {
    background-size: auto 100vh;
  }
}
*/
