
header {
  background: url('/images/jetty-and-rope.jpeg') no-repeat center bottom fixed;
  background-size: cover;

  .logo-wrapper {
    margin-left: 0;
    position: inherit;
    margin: auto;
    width: 65%;
  }

  min-height: 50vh;
  max-height: 50vh;
}

