/* line 1, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
section {
  font-family: 'Voltaire', sans-serif;
  font-size: 1.3em;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }

/* line 10, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
header {
  overflow: auto;
  background: url("/images/jetty-and-rope.jpeg") no-repeat center top;
  background-size: cover;
  font-family: 'Voltaire', sans-serif;
  font-size: 4.5em;
  min-height: 100vh; }
  @media (max-device-width: 667px) and (orientation: landscape) {
    /* line 10, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
    header {
      background-size: 100vw auto; } }
  /* line 23, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  header h1 {
    float: left;
    clear: both;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 5px;
    font-size: 0.5em;
    font-weight: 600;
    text-shadow: #484848 1px 1px;
    color: white;
    background: black; }
    @media (max-device-width: 667px) {
      /* line 23, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
      header h1 {
        font-weight: 500;
        /* avoid iOS mangling the Voltaire Google font */ } }
  /* line 40, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  header p.get-ticket {
    text-shadow: #484848 1px 1px;
    display: inline-block;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 0.5em;
    background: black;
    padding: 5px; }
    /* line 52, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
    header p.get-ticket a {
      color: red; }
  /* line 57, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  header .logo-wrapper {
    margin-left: 20px;
    top: 0; }
  /* line 62, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  header .sponsor-logos {
    opacity: 0.8;
    clear: both;
    float: left;
    background: white;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px; }

/* line 73, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
ul.tickets {
  list-style-type: none;
  padding: 0; }
  /* line 76, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  ul.tickets p {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 5px;
    text-shadow: #484848 1px 1px;
    color: white;
    background-color: black; }
    /* line 84, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
    ul.tickets p.ticket {
      font-size: 1.3em;
      text-shadow: none;
      padding-right: 0;
      padding-left: 0; }
      /* line 89, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
      ul.tickets p.ticket a {
        background: black;
        color: red;
        padding: 5px; }
    /* line 96, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
    ul.tickets p.note {
      color: black;
      background: #F9F4F4;
      text-shadow: none;
      max-width: 70%; }
    /* line 102, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
    ul.tickets p .price {
      color: black;
      background: white;
      display: inline-block;
      width: 75px;
      text-align: center;
      margin-top: -5px;
      border-top: solid 5px white;
      margin-bottom: -5px;
      border-bottom: solid 5px white; }

/* line 116, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.logo {
  margin-top: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.5em;
  text-shadow: #484848 2px 2px;
  text-shadow: black 2px 2px;
  font-family: 'Voltaire', sans-serif;
  white-space: nowrap;
  line-height: 1.0em; }
  /* line 117, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .logo.rails-camp {
    clear: both;
    float: left; }

/* line 132, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.rails-camp {
  padding-right: 13px;
  color: white;
  border-right: solid 18px #181818; }

/* line 138, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.sydney-2015 {
  margin-left: 10px;
  color: red;
  text-align: left; }

/* line 144, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
html, body {
  margin: 0; }

/* line 149, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.container {
  margin-top: 20px;
  width: 100%;
  background: #F9F4F4;
  padding: 20px 0;
  margin: 0 !important; }
  /* line 156, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .container .yield-wrapper {
    text-align: center; }
    /* line 158, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
    .container .yield-wrapper div {
      display: inline-block;
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      border: 2px solid #484848;
      box-shadow: 0px 0px 3px 0px #888888;
      background: white; }
      /* line 167, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
      .container .yield-wrapper div img {
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 163px;
        height: 109px; }

/* line 180, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.gallery {
  background: #F9F4F4; }

/* line 184, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
img.lazy {
  margin: 0;
  display: block;
  width: 100vw; }

/* line 191, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
#organisers figure {
  display: inline-block; }
  /* line 195, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  #organisers figure figcaption {
    text-align: center; }
  /* line 198, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  #organisers figure img {
    border-radius: 90px; }
/* line 202, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
#organisers .profile-pics {
  text-align: center; }

/* line 207, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.student-ticket-application-form {
  box-sizing: border-box;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.3em;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  /* line 217, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .student-ticket-application-form form input, .student-ticket-application-form form textarea {
    font-family: 'Courier new', monospace;
    font-size: 0.8em;
    border: 2px solid black;
    padding: 5px; }
  /* line 223, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .student-ticket-application-form form label {
    margin-top: 5px;
    display: block; }
  /* line 229, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .student-ticket-application-form button {
    color: white;
    background: black;
    font-family: 'Voltaire', sans-serif;
    font-size: 1.3em;
    border: 3px solid black;
    margin-top: 10px; }

/* line 239, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.awesome {
  padding: 3px;
  padding-right: 0px;
  border: 3px solid black;
  font-size: 1.4em; }
  /* line 245, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .awesome a {
    display-inline: block;
    padding: 3px;
    padding-left: 5px;
    background: red;
    color: white;
    font-weight: bold; }

/* line 255, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.sponsor-logo {
  margin-top: 40px;
  margin-bottom: 40px; }
  /* line 260, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .sponsor-logo.buildkite svg {
    width: 300px;
    height: auto; }
  /* line 265, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .sponsor-logo.reinteractive img {
    width: 300px;
    height: auto;
    /* position: relative;
    top: -10px; */ }
  /* line 272, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .sponsor-logo.lookahead img {
    width: 300px;
    height: auto; }
  /* line 277, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .sponsor-logo.blake img {
    width: auto;
    height: 150px;
    position: relative;
    left: 70px; }
  /* line 284, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .sponsor-logo.realestate img {
    width: 300px;
    height: auto; }
  /* line 289, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .sponsor-logo.siteminder img {
    width: 300px;
    height: auto; }

/* line 296, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
section#tickets .reinteractive-logo {
  margin: 20px; }
/* line 299, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
section#tickets .buildkite-logo {
  margin: 20px; }

/* line 305, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.thanks .love {
  color: red;
  font-size: 1.2em;
  text-shadow: black 1px 1px 1px; }

/* line 312, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
.columns {
  clear: left;
  float: left;
  width: 100%; }
  /* line 318, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .columns .column.left {
    float: left; }
  /* line 321, /Users/james/projects/railscamp-sydney-2015/source/stylesheets/all.scss */
  .columns .column.right {
    margin-left: 40px;
    float: left; }
