/* line 2, /Users/artega/dev/railscamp-sydney-2015/source/stylesheets/simple.scss */
header {
  background: url("/images/jetty-and-rope.jpeg") no-repeat center bottom fixed;
  background-size: cover;
  min-height: 50vh;
  max-height: 50vh; }
  /* line 6, /Users/artega/dev/railscamp-sydney-2015/source/stylesheets/simple.scss */
  header .logo-wrapper {
    margin-left: 0;
    position: inherit;
    margin: auto;
    width: 65%; }
