---
title: Rails Camp Sydney 2015
tag_line: Hack, Learn, and Play on the Hawkesbury River
---

<header>
  <div class="logo-wrapper">
    <div class="logo-wrapper-inner">
      <div class="logo rails-camp">
        RAILS<br>CAMP
      </div>
      <div class="logo sydney-2015">
        SYDNEY<br>2015
      </div>
      <h1>
        Broken Bay, Hawkesbury River
      </h1>
      <h1>
        June 12<sup>th</sup> - 15<sup>th</sup>
      </h1>
    </div>
    <p class='get-ticket'>
      <a href='#tickets'>Get ticket!</a>
    </p>
    <div class='sponsor-logos'>
      <div class='reinteractive-logo'>
        <a href='https://reinteractive.net'>
          <img src='images/reinteractive-logo.png'>
        </a>
      </div>
      <div>
        <a href='https://buildkite.com/'>
          <svg class='buildkite-logo' xmlns="http://www.w3.org/2000/svg" viewBox="167.1 289.4 1024.4 188.5" enable-background="new 167.1 289.4 1024.4 188.5">
            <title>Buildkite</title>
            <desc>The Buildkite logo</desc>
            <g fill="#A4D426">
              <path d="M167.1 297.3l90.3 44.8v90.3l-90.3-44.8zM348.4 297.3l89.6 44.8-89.6 45.5z"/>
            </g>
            <g fill="#83AD18">
              <path d="M348.4 297.3l-91 44.8v90.3l91-44.8zM438 342.1l-89.6 45.5v90.3l89.6-45.5z"/>
            </g>
            <path d="M563.3 292.7c5.2 0 8.1 1.2 11.8 4.9l8 8c3.7 3.7 4.9 6.6 4.9 11.8v28.7c0 4.5-1.2 7.6-3 9.9l-2.3 2.4c-.2.2-.3.5-.3.7 0 .2.1.5.3.7l6.9 6.9c3.7 3.7 4.9 6.6 4.9 11.8V408c0 5.2-1.2 8.2-4.9 11.8l-8 8c-3.7 3.7-6.6 4.9-11.8 4.9h-69.9v-134l6.1-6.1h57.3zm-.4 18.7c-.9-.9-2.5-1.6-4-1.6h-40.5v44h40.5c1.5 0 3.1-.7 4-1.6l4.9-4.9c1.1-1.1 1.7-2.5 1.7-3.8v-23.4c0-1.3-.6-2.7-1.7-3.8l-4.9-4.9zm6.5 61.1c-.9-.9-2.5-1.6-4-1.6h-47v44.8h47c1.5 0 3.1-.7 4-1.6l4.9-4.9c1.1-1.1 1.7-2.5 1.7-3.8v-24.2c0-1.3-.6-2.7-1.7-3.8l-4.9-4.9zM693 332.8v100h-15.2L676 423l-16.2 7.5c-3.5 1.6-6.4 2.3-10.2 2.3h-11.2c-5.1 0-8.1-1.2-11.8-4.9l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-75.3H631V407c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.5 4 1.5h7.3c1.2 0 2.4-.3 3.3-.7l23.3-10.9v-72.7l17.6-.1zM735.5 298v19.8h-20V298h20zm-1.3 34.7v100.1h-17.3V332.7h17.3zM775.7 289.4V407c0 1.4.6 2.8 1.6 3.7l5 5c.8.7 2.3 1.5 3.9 1.5h10.9v15.5H783c-5.1 0-8-1.2-11.8-4.8l-7.2-7.2c-4.2-4.1-5.6-7.2-5.6-12.7V294.3l4.9-4.9h12.4zM882.6 289.4l4.8 4.8v138.6h-15.7l-1.2-6.9-9.4 4.4c-4 1.9-7.2 2.5-11.4 2.5H834c-5.2 0-8.1-1.3-11.8-4.8l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-49.6c0-5.2 1.3-8.2 4.9-11.8l9-9c3.7-3.7 6.6-4.9 11.8-4.9h35v-43.4l12.6-.1zm-12.5 59h-31.8c-1.5 0-3 .6-4 1.5l-6 5.9c-1.1 1.1-1.6 2.4-1.6 3.8V407c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.6 4 1.6h12.4c1.2 0 2.4-.3 3.3-.7l17.1-8.1v-60.1zM929.5 289.4v78.2l44.6-34.8h8.5l7.9 7.9-44.5 34.5 48.3 50-7.8 7.6h-8.6l-43.5-46.6-4.9 7.3v39.2h-17.3V294.3l4.9-4.9h12.4zM1029.1 298v19.8h-20V298h20zm-1.4 34.7v100.1h-17.3V332.7h17.3zM1076.4 309.8v23h21.8v15.6h-21.8v58.7c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.6 4 1.6h11.3V428l-5 4.7h-9.6c-5.2 0-8.1-1.2-11.8-4.8l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-59.9h-15.4v-10.8l4.9-4.8h10.5v-23l17.5.2zM1166.9 332.8c5.1 0 8.1 1.2 11.8 4.9l8 8c3.6 3.6 4.9 6.6 4.9 11.8v27l-4.9 4.9h-55.2V407c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.6 4 1.6h21.9c1.5 0 3-.6 4-1.6l6.4-6.4 11.7 11.6-7.1 7.1c-3.7 3.7-6.6 4.9-11.8 4.9h-28.3c-5.1 0-8.1-1.2-11.8-4.9l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-50.6c0-5.2 1.2-8.2 4.9-11.8l8-8c3.7-3.7 6.6-4.9 11.8-4.9l28.1-.1zm.7 17.1c-.9-.9-2.5-1.6-4-1.6h-21.9c-1.5 0-3 .6-4 1.6l-4.9 4.9c-1.1 1.1-1.6 2.4-1.6 3.8v15.3h42.8v-15.3c0-1.3-.6-2.7-1.6-3.8l-4.8-4.9z"/>
          </svg>
        </a>
      </div>
      <div class='lookahead-logo'>
        <a href='http://http://www.lookahead.com.au/'>
          <img src='/images/lookahead-logo-dark.jpg'>
        </a>
      </div>
    </div>
  </div>
</header>


<div class="container">

  <section id="what">
    <h2>What is a Rails Camp?</h2>
    <p>
      Rails Camp is a place for people
      interested in web technologies to gather, network, share ideas and generally have a great time.
      While there's a general focus on Ruby (and Rails) developers and techy people of any background
      are encouraged to attend.
    </p>

    <p>
      You should come to Rails Camp if:
    </p>
    <ul>
      <li>
        You like Ruby or Rails; or
      </li>
      <li>
        You're interested in web technologies; or
      </li>
      <li>
        You want to play werewolf; or
      </li>
      <li>
        You've got a weekend project you really want to work on
      </li>
    </ul>
  </section>


  <section id="where">
    <h2>When and Where?</h2>
    <a class="map-link" href="https://www.google.com/maps/@-33.552333,151.2438318,15z?hl=en-US" _target="blank">
      <img id="map" src="https://maps.googleapis.com/maps/api/staticmap?center=-33.562369,%20151.264308&zoom=12&size=640x200&markers=color:blue|label:B%7C-33.562369,151.264308"/>
    </a>
    <p><strong>
      This camp will be held at the mouth of the Hawkesbury River approximately an hour north
      of Sydney. Join us in this absolutely spectacular location where the gentle waves of the
      Hawkesbury lap up against the sandy beach. There's abundant wildlife and views of the ocean.
    </strong></p>
    <p>
      The camp-site itself is not accessible by road, so you'll be ferried in from Brooklyn (Hawkesbury
      River station on the Sydney rail network). We've
      organised a ferry to all campers to and from Brooklyn. If you can't make the ferry there will
      be a limited number of runs taking people on a smaller boat. There is extremely limited mobile
      phone reception at camp, particularly in the buildings. Do NOT expect to be able to tether for
      mobile data. A wireless network will be available which will have common downloads, Gems etc.
    </p>
  </section>

  <section id="tickets">
    <h2>Tickets</h2>
    <ul class='tickets'>
      <li>
        <p class='ticket regular'>
          <span class='price'>$350</span> <a href='https://ti.to/ruby-australia/rails-camp-sydney-2015'>Full price ticket</a>
        </p>
      </li>
      <li>
        <p class='student ticket'>
          <span class='price'>$50</span> <a href='/student-ticket-application'>Student ticket (10 available)</a>
        </p>
        <p class='note'>
          10 student tickets have been donated by our kind sponsor <a href='https://reinteractive.net'>reinteractive</a>.
        </p>
        <div class='reinteractive-logo'>
          <a href='https://reinteractive.net'>
            <img src='images/reinteractive-logo.png'>
          </a>
        </div>
      </li>
      <li>
        <p class='ticket gender-paygap'>
          <span class='price'>$280</span>
          <a href='https://ti.to/ruby-australia/rails-camp-sydney-2015'>Gender pay-gap ticket (10 available)</a>
        </p>
        <p class='note'>
          It is an embarrassing statistic that in Australia, women are paid 20% less than men on average.
          Our kind sponsor <a href='https://buildkite.com/'>Buildkite</a>
          has stepped up and subsidised 10 tickets for women.
        </p>
        <div>
          <a href='https://buildkite.com/'>
            <svg class='buildkite-logo' xmlns="http://www.w3.org/2000/svg" viewBox="167.1 289.4 1024.4 188.5" enable-background="new 167.1 289.4 1024.4 188.5">
              <title>Buildkite</title>
              <desc>The Buildkite logo</desc>
              <g fill="#A4D426">
                <path d="M167.1 297.3l90.3 44.8v90.3l-90.3-44.8zM348.4 297.3l89.6 44.8-89.6 45.5z"/>
              </g>
              <g fill="#83AD18">
                <path d="M348.4 297.3l-91 44.8v90.3l91-44.8zM438 342.1l-89.6 45.5v90.3l89.6-45.5z"/>
              </g>
              <path d="M563.3 292.7c5.2 0 8.1 1.2 11.8 4.9l8 8c3.7 3.7 4.9 6.6 4.9 11.8v28.7c0 4.5-1.2 7.6-3 9.9l-2.3 2.4c-.2.2-.3.5-.3.7 0 .2.1.5.3.7l6.9 6.9c3.7 3.7 4.9 6.6 4.9 11.8V408c0 5.2-1.2 8.2-4.9 11.8l-8 8c-3.7 3.7-6.6 4.9-11.8 4.9h-69.9v-134l6.1-6.1h57.3zm-.4 18.7c-.9-.9-2.5-1.6-4-1.6h-40.5v44h40.5c1.5 0 3.1-.7 4-1.6l4.9-4.9c1.1-1.1 1.7-2.5 1.7-3.8v-23.4c0-1.3-.6-2.7-1.7-3.8l-4.9-4.9zm6.5 61.1c-.9-.9-2.5-1.6-4-1.6h-47v44.8h47c1.5 0 3.1-.7 4-1.6l4.9-4.9c1.1-1.1 1.7-2.5 1.7-3.8v-24.2c0-1.3-.6-2.7-1.7-3.8l-4.9-4.9zM693 332.8v100h-15.2L676 423l-16.2 7.5c-3.5 1.6-6.4 2.3-10.2 2.3h-11.2c-5.1 0-8.1-1.2-11.8-4.9l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-75.3H631V407c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.5 4 1.5h7.3c1.2 0 2.4-.3 3.3-.7l23.3-10.9v-72.7l17.6-.1zM735.5 298v19.8h-20V298h20zm-1.3 34.7v100.1h-17.3V332.7h17.3zM775.7 289.4V407c0 1.4.6 2.8 1.6 3.7l5 5c.8.7 2.3 1.5 3.9 1.5h10.9v15.5H783c-5.1 0-8-1.2-11.8-4.8l-7.2-7.2c-4.2-4.1-5.6-7.2-5.6-12.7V294.3l4.9-4.9h12.4zM882.6 289.4l4.8 4.8v138.6h-15.7l-1.2-6.9-9.4 4.4c-4 1.9-7.2 2.5-11.4 2.5H834c-5.2 0-8.1-1.3-11.8-4.8l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-49.6c0-5.2 1.3-8.2 4.9-11.8l9-9c3.7-3.7 6.6-4.9 11.8-4.9h35v-43.4l12.6-.1zm-12.5 59h-31.8c-1.5 0-3 .6-4 1.5l-6 5.9c-1.1 1.1-1.6 2.4-1.6 3.8V407c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.6 4 1.6h12.4c1.2 0 2.4-.3 3.3-.7l17.1-8.1v-60.1zM929.5 289.4v78.2l44.6-34.8h8.5l7.9 7.9-44.5 34.5 48.3 50-7.8 7.6h-8.6l-43.5-46.6-4.9 7.3v39.2h-17.3V294.3l4.9-4.9h12.4zM1029.1 298v19.8h-20V298h20zm-1.4 34.7v100.1h-17.3V332.7h17.3zM1076.4 309.8v23h21.8v15.6h-21.8v58.7c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.6 4 1.6h11.3V428l-5 4.7h-9.6c-5.2 0-8.1-1.2-11.8-4.8l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-59.9h-15.4v-10.8l4.9-4.8h10.5v-23l17.5.2zM1166.9 332.8c5.1 0 8.1 1.2 11.8 4.9l8 8c3.6 3.6 4.9 6.6 4.9 11.8v27l-4.9 4.9h-55.2V407c0 1.3.6 2.7 1.6 3.8l4.9 4.9c.9.9 2.5 1.6 4 1.6h21.9c1.5 0 3-.6 4-1.6l6.4-6.4 11.7 11.6-7.1 7.1c-3.7 3.7-6.6 4.9-11.8 4.9h-28.3c-5.1 0-8.1-1.2-11.8-4.9l-8-8c-3.6-3.6-4.9-6.6-4.9-11.8v-50.6c0-5.2 1.2-8.2 4.9-11.8l8-8c3.7-3.7 6.6-4.9 11.8-4.9l28.1-.1zm.7 17.1c-.9-.9-2.5-1.6-4-1.6h-21.9c-1.5 0-3 .6-4 1.6l-4.9 4.9c-1.1 1.1-1.6 2.4-1.6 3.8v15.3h42.8v-15.3c0-1.3-.6-2.7-1.6-3.8l-4.8-4.9z"/>
            </svg>
          </a>
        </div>
      </li>
    </ul> 
  </section>
  <section id="to-bring">
    <h2>What should you bring?</h2>
    <ul>
      <li>A single flat sheet or sleeping bag and a pillowcase. The camp provides a doona and a pillow but a pillowcase is required for hygiene reasons.</li>
      <li>Clothing for cool, mild weather. June is one of the driest months on the Hawkesbury but it can get cold, especially at night.</li>
      <li>Sunscreen.</li>
      <li>A laptop.</li>
      <li>An idea to hack on.</li>
      <li>Any snacks you might want. There is no access to a shop at all once you're at camp unless you're a particularly strong swimmer.</li>
      <li>Boardgames, card games or other fun things are optional but appreciated.</li>
    </ul>
  </section>

  <section id="arriving">
    <h2>Arriving</h2>
    <p>
      Campers flying into Sydney will need to arrive at the airport <strong>no later than 1pm</strong> Friday Jun 12th.
    </p>
  </section>

  <section id="departing">
    <h2>Departing</h2>
    <p>
      On Monday Jun 15th we will ensure that you will arrive at the airport by 12pm so make sure to give yourself ample time if booking flights.
    </p>
  </section>

  <section id="sponsors">
    <h2>Sponsors</h2>
    <p>
      We're actively seeking sponsors who want to support our amazing community.
      Please <a href="http://eventie.io/events/4-rails-camp-sydney-2015">peruse the sponsorships that are available<a/> and contact <a href="mailto:keith@keithpitty.com">keith@keithpitty.com</a> if you or your organisation is able to help out!
    </p>
  </section>

  <section id="coc">
    <h2>Code of Conduct</h2>
    <p>
      Rails Camp Sydney is run under the auspices of Ruby Australia.
      You can view our <a href="/policies#coc">code of conduct</a> and our <a href="/policies#anti-harassment">anti-harassment policy</a>.
      These rules must be followed by all attendees.
    </p>
  </section>

  <section id="bonus-extras">
    <h2>Bonus Extras!</h2>
    <h3>Fireplace in main hacking space</h3>

    <p>The main hacking space has a large fireplace which will be kept tended to keep us all warm and toasty.  </p>

    <h3>Campfire on the beach</h3>

    <p>
      We are permitted to have a fire on the beach, so imagine chilling out on
      the beach in great company, relaxing with a beverage of your choosing,
      while soaking up the warmth of a crackling fire and listening to sound of
      the lapping water. Ahh!
      </p>

  </section>

  <section id='organisers'>
    <h2>Organisers</h2>
    <p>
      Rails Camp Sydney 2015 will be brought to you by these guys:
    </p>
    <div class="profile-pics">
      <figure>
        <img src="images/leonard.jpeg" alt="Leonard Garvey" width='180px' height='180px'>
        <figcaption>Leonard Garvey <a href='https://twitter.com/lgarvey'>@lgarvey</a></figcaption>
      </figure>
      <figure>
        <img src="images/james.jpeg" alt="James Sadler" width='180px' height='180px'>
        <figcaption>James Sadler <a href='https://twitter.com/freshtonic'>@freshtonic</a></figcaption>
      </figure>
      <figure>
        <img src="images/keith.jpeg" alt="Keith Pitty" width='180px' height='180px'>
        <figcaption>Keith Pitty <a href='https://twitter.com/keithpitty'>@keithpitty</a></figcaption>
      </figure>
    </div>
  </section>

</div>

<div class='gallery'>
  <%-
    Dir.glob("./source/images/gallery*").sort.each do |f|
      f = f.gsub(/^\.\/source/, "")
  %>
      <img src="images/grey.gif" class="lazy" data-src="<%= f %>" width="100%" height="auto">
  <%-
    end
  %>
</div>

<div class="container">
  <section class="yield-wrapper">
    <div>
      <img src="images/display_yield.png">
    </div>
  </section>
</div>


