---
title: Rails Camp Sydney 2015
tag_line: Hack, Learn, and Play on the Hawkesbury River
---
 
<header>
  <div class="logo-wrapper">
    <div class="logo-wrapper-inner">
      <div class="logo rails-camp">
        RAILS<br>CAMP
      </div>
      <div class="logo sydney-2015">
        SYDNEY<br>2015
      </div>
      <h1>
        Broken Bay, Hawkesbury River
      </h1>
      <h1>
        June 12<sup>th</sup> - 15<sup>th</sup>
      </h1>
      <h1>
        Ticket sale ends on April 30th! (SOLD OUT)
      </h1>
    </div>
  </div>
</header>
 
 
<div class="container">
 
  <section id="what">
    <h2>What is a Rails Camp?</h2>
    <p>
      Rails Camp is a place for people
      interested in web technologies to gather, network, share ideas and generally have a great time.
      While there's a general focus on Ruby (and Rails) developers and techy people of any background
      are encouraged to attend.
    </p>
 
    <p>
      You should come to Rails Camp if:
    </p>
    <ul>
      <li>
        You like Ruby or Rails; or
      </li>
      <li>
        You're interested in web technologies; or
      </li>
      <li>
        You want to play werewolf; or
      </li>
      <li>
        You've got a weekend project you really want to work on
      </li>
    </ul>
  </section>
 
 
  <section id="where">
    <h2>When and Where?</h2>
    <a class="map-link" href="https://www.google.com/maps/@-33.552333,151.2438318,15z?hl=en-US" _target="blank">
      <img id="map" src="https://maps.googleapis.com/maps/api/staticmap?center=-33.562369,%20151.264308&zoom=12&size=640x200&markers=color:blue|label:B%7C-33.562369,151.264308"/>
    </a>
    <p><strong>
      This camp will be held at the mouth of the Hawkesbury River approximately an hour north
      of Sydney. Join us in this absolutely spectacular location where the gentle waves of the
      Hawkesbury lap up against the sandy beach. There's abundant wildlife and views of the ocean.
    </strong></p>
    <p>
      The camp-site itself is not accessible by road, so you'll be ferried in from Brooklyn (Hawkesbury
      River station on the Sydney rail network). We've
      organised a ferry to all campers to and from Brooklyn. If you can't make the ferry there will
      be a limited number of runs taking people on a smaller boat. There is extremely limited mobile
      phone reception at camp, particularly in the buildings. Do NOT expect to be able to tether for
      mobile data. A wireless network will be available which will have common downloads, Gems etc.
    </p>
  </section>
 
  <section id="tickets">
    <h2>Tickets</h2>
    <p><strong><em>Ticket sales end on April 30th at 11:59pm or whenever @lgarvey, @keithpitty or @freshtonic remember to switch off ti.to!</em></strong></p>
    <ul class='tickets'>
      <li>
        <p class='ticket regular sold-out'>
        <span class='price'>$350</span> <span class='ticket-details'>Full price ticket</span>
        </p>
      </li>
      <li>
        <p class='student ticket sold-out'>
          <span class='price'>$50</span> <span class='ticket-details'>Student ticket (SOLD OUT)</span>
        </p>
        <p class='note'>
          10 student tickets have been donated by our kind sponsor <a href='https://reinteractive.net'>reinteractive</a>.
        </p>
        <div class='sponsor-logo reinteractive'>
          <a href='https://reinteractive.net'>
            <img src='images/reinteractive-logo.png'>
          </a>
        </div>
        <p class='note'>
          A further 4 student ticket have been kindly donated by <a href='https://www.fatzebra.com.au/'>Fat Zebra</a>.
        </p>
        <div class='sponsor-logo fat-zebra'>
          <a href='https://www.fatzebra.com.au/'>
            <img src='/images/fat-zebra-logo.png'>
          </a>
        </div>
      </li>
      <li>
        <p class='ticket gender-paygap sold-out'>
          <span class='price'>$280</span>
          <span class='ticket-details'>Gender pay-gap ticket (SOLD OUT)</span>
        </p>
        <p class='note'>
          It is an embarrassing statistic that in Australia, women are paid 20% less than men on average.
          Our kind sponsor <a href='https://buildkite.com/'>Buildkite</a>
          has stepped up and subsidised 10 tickets for women. Women that have already purchased a ticket
          can retroactively apply for a discount by contacting <a href='mailto:lengarvey@bottledup.net'>Leonard Garvey</a>.
        </p>
        <div class='sponsor-logo buildkite'>
          <a href='https://buildkite.com/'>
            <%= partial "buildkite_svg" %>
          </a>
        </div>
      </li>
    </ul> 
  </section>

  <section id="to-bring">
    <h2>Essentials to pack</h2>
    <ul>
      <li>a sleeping bag. It's likely to be cold at night!</li>
      <li>a pillow case.</li>
      <li>a towel (or two).</li>
      <li>clothes for mild to cool weather. The forecast is partly cloudy with the chance of a shower on Sunday.</li>
      <li>computer gear and chargers.</li>
      <li>toiletries for the weekend.</li>
      <li>download any Gems, libraries and software you might want to use on a camp project. We are providing a rubygems (and hopefully an npm server) but it's best to be prepared.</li>
    </ul>
  </section>

  <section id='optional-extras'>
    <h2>Optional extras</h2>
    <ul>
      <li>any snacks you might like to bring along.</li>
      <li>any "fancy" Liquor or mixer drinks you might like to bring. We'll be providing a selection of beer, cider, wine, coffee, tea, water and cordials. If you're planning on bringing whisky, purchase it before you arrive at Brooklyn unless you enjoy Wild Turkey.</li>
      <li>games to play with others. Werewolf, Avalon, Cards against Humanity, Flux, and Poker have all featured at previous camps.</li>
      <li>swimming gear. It's cold but if you're particularly brave you're welcome to go swimming.</li>
    </ul>
  </section>

 
  <section id="arriving">
    <h2>Arriving</h2>
    <p>
      Campers flying into Sydney will need to arrive at the airport <strong>no later than 1pm</strong> Friday Jun 12th.
    </p>

    <p>
      If you're coming into Domestic Airport we'll have some people there helping you
      get through to Brooklyn (Hawkesbury River Station). The helpers will be leaving
      on the <strong>1:20pm</strong> train to Central Station.
    </p>
    <p>
    <p>
      If you're departing from Central Station we'll have some people there
      helping you to get through to Brooklyn too. Both sets of volunteers will
      be leaving on the <strong>1:45pm</strong> train from Central to Hawkesbury River.
    </p>
    <p>
      Be at Brooklyn Wharf by <strong>3:30pm</strong> on Friday to catch the ferry to camp.
    </p>

    <h3>What to do if you're delayed</h3>

    See <a href='#help'>Help!</a>.
  </section>

  <section id='help'>
    <h2>Help!</h2>

    If you're late, delayed or otherwise miss a train, don't worry we'll make
    sure you can get to camp. But please do try not to be late! If you have
    concerns please respond to this email directly. If you have issues earlier
    on Friday feel free to tweet @railscamp_au or text/call me on 0487878715.

    You can contact the camp on 0243490600 in case of an emergency or simply to contact me if my phone isn't responding.

  </section>
 
  <section id="departing">
    <h2>Departing</h2>
    <p>
      On Monday Jun 15th we will ensure that you will arrive at the airport by 12pm so make sure to give yourself ample time if booking flights.
    </p>
    <p>
      The return journey will also be by train and we will provide you with tickets at camp.
    </p>
  </section>

 
  <section id="sponsors">
    <h2>Sponsors</h2>
    <p>
    Thanks so much to 
    <a href='https://reinteractive.net'><strong>Reinteractive</strong></a>,
    <a href='https://buildkite.com/'><strong>Buildkite</strong></a>,
    <a href='http://www.lookahead.com.au/'><strong>Lookahead</strong></a>,
    <a href='http://www.siteminder.com/'><strong>Siteminder</strong></a>,
    <a href='https://www.fatzebra.com.au/'><strong>Fat Zebra</strong></a>,
    <a href='http://www.blake.com.au/'><strong>Blake</strong></a>,
    <a href='http://realestate.com.au'><strong>Realestate.com.au</strong></a>,
    <a href='http://www.cultureamp.com'><strong>Culture Amp</strong></a>
    <a href='http://www.redbubble.com/'><strong>Red Bubble</strong></a>
    &amp; <a href='https://samplecoffee.com.au'><strong>Sample Coffee</strong></a>
    for making Rails Camp Sydney 2015 possible. We now have a full quota of sponsors!
    </p>
    <div class='sponsor-logos'>
      <h2 class='thanks'>We <span class='love'>❤️</span> our sponsors!</h2>
      <p>Rails Camp Sydney would not be possible without sponsorhip. These folks rock!</p>
      <div class='columns'>
        <div class='column left'>
          <div class='sponsor-logo reinteractive'>
            <a href='https://reinteractive.net'>
              <img src='images/reinteractive-logo.png'>
            </a>
          </div>
          <div class='sponsor-logo buildkite'>
            <a href='https://buildkite.com/'>
              <%= partial "buildkite_svg" %>
            </a>
          </div>
          <div class='sponsor-logo lookahead'>
            <a href='http://www.lookahead.com.au/'>
              <img src='/images/lookahead-logo-dark.jpg'>
            </a>
          </div>
          <div class='sponsor-logo siteminder'>
            <a href='http://www.siteminder.com/'>
              <img src='/images/siteminder.png'>
            </a>
          </div>
          <div class='sponsor-logo fat-zebra'>
            <a href='https://www.fatzebra.com.au/'>
              <img src='/images/fat-zebra-logo.png'>
            </a>
          </div>
          <div class='sponsor-logo sample-coffee'>
            <a href='https://samplecoffee.com.au'>
              <%= partial "sample_svg" %>
            </a>
          </div>
        </div>
        <div class='column right'>
          <div class='sponsor-logo blake'>
            <a href='http://www.blake.com.au/'>
              <img src='/images/blake.png'>
            </a>
          </div>
          <div class='sponsor-logo realestate'>
            <a href='http://realestate.com.au'>
              <img src='/images/realestate.png'>
            </a>
          </div>
          <div class='sponsor-logo culture-camp'>
            <a href='http://www.cultureamp.com'>
              <img src='/images/culture-amp-log.png'>
            </a>
          </div>
          <div class='sponsor-logo red-bubble'>
            <a href='http://www.redbubble.com/'>
              <img src='/images/red-bubble-logo.png'>
            </a>
          </div>
        </div>
      </div>
    </section>
 
    <section id="coc">
      <h2>Code of Conduct</h2>
      <p>
        Rails Camp Sydney is run under the auspices of Ruby Australia.
        You can view our <a href="/policies#coc">code of conduct</a> and our <a href="/policies#anti-harassment">anti-harassment policy</a>.
        These rules must be followed by all attendees.
      </p>
    </section>
 
    <section id="bonus-extras">
      <h2>Bonus Extras!</h2>
      <h3>Fireplace in main hacking space</h3>
 
      <p>The main hacking space has a large fireplace which will be kept tended to keep us all warm and toasty.  </p>
 
      <h3>Campfire on the beach</h3>
 
      <p>
        We are permitted to have a fire on the beach, so imagine chilling out on
        the beach in great company, relaxing with a beverage of your choosing,
        while soaking up the warmth of a crackling fire and listening to sound of
        the lapping water. Ahh!
        </p>
 
      <h3>Opening BBQ!</h3>

      <p>
        Red Bubble have sponsored an opening BBQ 🍗🍖🍔.  How cool is that?!
      </p>
      
      <div class='sponsor-logo red-bubble'>
        <a href='http://www.redbubble.com/'>
          <img src='/images/red-bubble-logo.png'>
        </a>
      </div>
    </section>
 
    <section id='organisers'>
      <h2>Organisers</h2>
      <p>
        Rails Camp Sydney 2015 will be brought to you by these guys:
      </p>
      <div class="profile-pics">
        <figure>
          <img src="images/leonard.jpeg" alt="Leonard Garvey" width='180px' height='180px'>
          <figcaption>Leonard Garvey <a href='https://twitter.com/lgarvey'>@lgarvey</a></figcaption>
        </figure>
        <figure>
          <img src="images/james.jpeg" alt="James Sadler" width='180px' height='180px'>
          <figcaption>James Sadler <a href='https://twitter.com/freshtonic'>@freshtonic</a></figcaption>
        </figure>
        <figure>
          <img src="images/keith.jpeg" alt="Keith Pitty" width='180px' height='180px'>
          <figcaption>Keith Pitty <a href='https://twitter.com/keithpitty'>@keithpitty</a></figcaption>
        </figure>
      </div>
    </section>
 
  </div>
 
<div class='gallery'>
  <%-
    Dir.glob("./source/images/gallery*").sort.each do |f|
      f = f.gsub(/^\.\/source/, "")
  %>
      <img src="images/grey.gif" class="lazy" data-src="<%= f %>" width="100%" height="auto">
  <%-
    end
  %>
</div>
 
<div class="container">
  <section class="yield-wrapper">
    <div>
      <img src="images/display_yield.png">
    </div>
  </section>
</div>
