---
title: Rails Camp Sydney 2015
tag_line: Hack, Learn and Play on the Hawkesbury River
---

<header>
  <h1><%= current_page.data.title %></h1>
  <h2><%= current_page.data.tag_line %></h2>
</header>

<section id="what">
  <h2>What is a Rails Camp?</h2>
  <p>
    Rails Camp is a place for people
    interested in web technologies to gather, network, share ideas and generally have a great time.
    While there's a general focus on Ruby (and Rails) developers and techy people of any background
    are more than welcome to come along.
  </p>

  <p>
    You should come to Rails Camp if:
  </p>
  <ul>
    <li>
      You like Ruby or Rails; or
    </li>
    <li>
      You're interested in web technologies; or
    </li>
    <li>
      You want to play werewolf; or
    </li>
  </ul>
</section>

<section id="where">
  <h2>Where, When and How Much?</h2>
</section>

<section id="to-bring">
  <h2>What should you bring?</h2>
</section>

<section id="sponsors">
  <h2>Sponsors</h2>
</section>

<section id="coc">
  <h2>Code of Conduct</h2>
  <p>
    Rails Camp Sydney is run under the auspices of Ruby Australia.
    You can view our <a href="/policies#coc">code of conduct</a> and our <a href="/policies#anti-harrassment">anti-harrassment policy</a>.
    These rules must be followed by all attendees.
  </p>
</section>
