---
title: Rails Camp Sydney 2015
---

<header>
  <%= current_page.data.title %>
</header>

<section id="what">
  <h1>What is a Rails Camp?</h1>
</section>

<section id="where">
  <h1>Where, When and How Much?</h1>
</section>

<section id="to-bring">
  <h1>What should you bring?</h1>
</section>

<section id="sponsors">
  <h1>Sponsors</h1>
</section>

<section id="coc">
  <h1>Code of Conduct</h1>
</section>
