---
title: Rails Camp Sydney 2015
tag_line: Hack, Learn, and Play on the Hawkesbury River
---

<header>
  <div class="logo">
    <span>RAILS<br>CAMP</span>
    <span class="red">SYDNEY</span>
    <br>
    <span class='dates'>
      Jun 12 - 15
    </span>
    <div class="logo-right">
      <span class='red'>2015</span>
    </div>
  </div>
</header>

<div class="container">

<section id="what">
  <h2>What is a Rails Camp?</h2>
  <p>
    Rails Camp is a place for people
    interested in web technologies to gather, network, share ideas and generally have a great time.
    While there's a general focus on Ruby (and Rails) developers and techy people of any background
    are encouraged to attend.
  </p>

  <p>
    You should come to Rails Camp if:
  </p>
  <ul>
    <li>
      You like Ruby or Rails; or
    </li>
    <li>
      You're interested in web technologies; or
    </li>
    <li>
      You want to play werewolf; or
    </li>
    <li>
      You've got a weekend project you really want to work on
    </li>
  </ul>
</section>

<section id="where">
  <h2>Where, When and How Much?</h2>
  <p>
    This camp will be held at the mouth of the Hawkesbury River approximately an hour north
    of Sydney. Join us in this absolutely spectacular location where the gentle waves of the
    Hawkesbury lap up against the sandy beach. There's abundant wildlife and views of the ocean.
  </p>
  <p>
    The camp-site itself is not accessible by road, so you'll be ferried in from Brooklyn. We've
    organised a ferry to all campers to and from Brooklyn. If you can't make the ferry there will
    be a limited number of runs taking people on a smaller boat. There is extremely limited mobile
    phone reception at camp, particularly in the buildings. Do NOT expect to be able to tether for
    mobile data. A wireless network will be available which will have common downloads, Gems etc.
  </p>
  <p>
    Tickets to the camp will be $300
  </p>
</section>

<section id="to-bring">
  <h2>What should you bring?</h2>
  <ul>
    <li>A sleeping bag and pillow (to be confirmed).</li>
    <li>Clothing for cool, mild weather. June is one of the driest months on the Hawkesbury but it can get cold, especially at night.</li>
    <li>Sunscreen.</li>
    <li>A laptop.</li>
    <li>An idea to hack on.</li>
    <li>Any snacks you might want. There is no access to a shop at all once you're at camp unless you're a particularly strong swimmer.</li>
    <li>Boardgames, card games or other fun things are optional but appreciated.</li>
  </ul>
</section>

<section id="sponsors">
  <h2>Sponsors</h2>
  <p>
    We're actively seeking sponsors who want to support our amazing community.
    Please contact <a href="mailto:lengarvey@bottledup">leonard@bottledup.net</a> if you or your organisation is able to help out!
  </p>
</section>

<section id="coc">
  <h2>Code of Conduct</h2>
  <p>
    Rails Camp Sydney is run under the auspices of Ruby Australia.
    You can view our <a href="/policies#coc">code of conduct</a> and our <a href="/policies#anti-harrassment">anti-harrassment policy</a>.
    These rules must be followed by all attendees.
  </p>
</section>

</div>
